.fourTwelve {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: clamp(5rem, 6vw, 6.5rem);
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

.books {
    letter-spacing: 3px;
    font-weight: 100;
    font-size: clamp(3.25rem, 4vw, 6rem);
}