.fourTwelve {
    font-weight: 100;
    letter-spacing: 11px;
    padding-left: 33px;
}

.equipTheSaints {
    font-weight: 100;
    letter-spacing: 5px;
    letter-spacing: clamp(2px, .5vw, 11px);
    padding: 0 44px;
    max-width: 833px;
}

.operation {
    font-weight: 700;
    letter-spacing: 1px;
}

.ephesians {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    letter-spacing: 3px;
    padding-left: 22px;
    width: 100vw;
    height: 3em;
    margin-top: 1em;
}