/* ------------------------------------------------ */
/*   CONTAINER                                     */
/* ------------------------------------------------ */

/* MOBILE */
.mobileContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 1vh;

    background-image: url('/lion-of-judah.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* or contain depending on fit */
    background-position: center;
}

.mobileContainer .stripe {
    background: rgba(1,1,1, 0.4);
    /* overlay for gradient effect */
}

.desktopContainer {
    display: none;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    gap: 1.5vh;
    padding: 1.5vh 1.5vw;

    background: black;
}

/* ------------------------------------------------ */
/*   LINK WRAPPER                                  */
/* ------------------------------------------------ */

.link {
    flex: 1;
    display: flex;
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------------------ */
/*   STRIPES — IMAGE LIVES HERE                    */
/* ------------------------------------------------ */

.stripe {
    flex: 1;
    width: 100%;

    background-image: url('/lion-of-judah.png');
    background-repeat: no-repeat;
    background-color: rgba(50, 25, 0, .5);
    background-blend-mode: overlay;

    border-radius: 33px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .stripe {
        background-size: auto 300%;
    }
}

/* MOBILE SLICING — TRUE THIRDS */
.link:nth-of-type(1) .stripe {
    background-position: 50% 15%;
}

.link:nth-of-type(2) .stripe {
    background-position: 50% 49%;
}

.link:nth-of-type(3) .stripe {
    background-position: 50% 85%;
}

/* ------------------------------------------------ */
/*   DESKTOP                                      */
/* ------------------------------------------------ */

@media (min-width: 1111px) {
    .mobileContainer {
        display: none;
    }

    .desktopContainer {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .container {
        flex-direction: row;
    }

    .stripe {
        background-size: 300% auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .link:nth-of-type(1) .stripe {
        background-position: 0% 50%;
    }

    .link:nth-of-type(2) .stripe {
        background-position: 50% 50%;
    }

    .link:nth-of-type(3) .stripe {
        background-position: 100% 50%;
    }

    .ephesians {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
        width: 100%;
    }
}