.title {
    font-weight: 100;
    padding: 0 44px;
}

.ephesians {
    font-weight: 100;
    letter-spacing: 13px;
    padding-left: 22px;
}

.fourTwelve {
    font-weight: 700;
    letter-spacing: 33px;
    padding-left: 44px;
}

.equipTheSaints {
    font-weight: 100;
    letter-spacing: 5px;
    letter-spacing: clamp(2px, .5vw, 11px);
    padding: 0 44px;
}