/* ------------------------------------------------ */
/*      MOBILE: vertical split (4 / 12)              */
/* ------------------------------------------------ */

.mobileContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh 1vw;
}

.stripe {
    flex: 1;
    width: 100%;
    background-image:
        linear-gradient(to bottom,
            rgba(111, 111, 111, .25),
            rgba(111, 111, 111, .25),
            rgba(1, 1, 1, .6),
            rgba(1, 1, 1, 1)),
        url('/landing.png');
    background-repeat: no-repeat;
    border-radius: 33px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(3rem, 12vmin, 12rem);
    font-weight: 300;

    /* MOBILE → top / bottom slicing */
    background-size: auto 200%;
}

/* TOP HALF */
.stripe:nth-of-type(1) {
    background-position: 50% 0%;
}

/* BOTTOM HALF */
.stripe:nth-of-type(2) {
    background-position: 50% 100%;
}

/* ------------------------------------------------ */
/*   DESKTOP LAYOUT                                  */
/* ------------------------------------------------ */

@media (min-width: 888px) {
    .mobileContainer {
        display: none;
    }

    .desktopContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
        padding: 1vh 1vw;
        width: 100vw;
        height: 100vh;
    }

    .stripe {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: clamp(1rem, calc(3vw + 3vh), 10rem);

        /* DESKTOP → left / right slicing */
        background-size: 200% auto;
    }

    .inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .equipAndBuild {
        font-size: clamp(1rem, calc(5vw + 5vh), 20rem);
        font-weight: 700;
        text-align: center;
        color: rgba(255, 255, 255, .2);
    }

    .endTimeWarCall {
        margin-bottom: auto;
        font-weight: 100;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 .4em;
        margin-top: 1em;
        margin-bottom: 1.25em;
        letter-spacing: 0.1em;
        background-color: black;
    }


    .armyAndBody {
        font-weight: 700;
    }

    /* LEFT HALF */
    .stripe:nth-of-type(1) {
        background-position: 0% 0%;
    }

    /* RIGHT HALF */
    .stripe:nth-of-type(2) {
        background-position: 100% 0%;
    }
}