.equipTheSaints {
    font-weight: 100;
    letter-spacing: 5px;
    letter-spacing: clamp(2px, .5vw, 11px);
    padding: 0 44px;
    margin: 2em auto;
    max-width: 833px;
}

.ephesians {
    font-weight: 200;
    letter-spacing: 3px;
    width: 100vw;
    font-style: italic;
}

.span {
    font-weight: 700;
}