.title {
    font-weight: 700;
    margin-bottom: .5em;
    letter-spacing: 11px;
}

.subtitle {
    font-weight: 300;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .25em;
}

.text {
    font-weight: 100;
}