/* ------------------------------------------------ */
/*   CONTAINER                                      */
/* ------------------------------------------------ */

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    /* MOBILE */

    gap: 2vh;
    padding: 2vh 2vw;

    background-image: url('/lion.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------------------------------------------ */
/*   STRIPES                                        */
/* ------------------------------------------------ */

.stripe {
    flex: 1;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

/* ------------------------------------------------ */
/*   INNER CONTENT                                  */
/* ------------------------------------------------ */

.inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equipAndBuild {
    font-size: clamp(4rem, 7vw, 11rem);
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.3);
}

.armyAndBody {
    margin: 1em 0;
    margin-bottom: 1.4em;
    width: 100%;
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 100;
    letter-spacing: 0.1em;
    opacity: 0.35;
}

.emphasis {
    color: indianred;
    font-weight: 700;
}

.standAndFight {
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
}

/* ------------------------------------------------ */
/*   DESKTOP                                        */
/* ------------------------------------------------ */

@media (min-width: 888px) {
    .container {
        flex-direction: row;
    }

    .stripe {
        background: linear-gradient(to bottom,
                rgba(77, 77, 77, .5),
                rgba(100, 50, 0, .1));
    }
}