.bookWrapper {
    width: 100%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 111px;
}

.book {
    position: relative;
    width: 90%;
    aspect-ratio: 2 / 3;
    border-radius: 12px;
    overflow: visible;
    transform-style: preserve-3d;
    cursor: default;
    border: 1px solid #222;
}


.book[data-clickable='true'] {
    cursor: pointer;
}

.image {
    object-fit: cover;
    border-radius: 12px;
}

/* 🔑 FORCE GLARE ABOVE IMAGE */
.book :global(.js-tilt-glare) {
    z-index: 10;
}

.book :global(.js-tilt-glare-inner) {
    background: rgba(255, 255, 255, 0.65);
}