.bookWrapper {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.bookWrapper:not(:last-child) {
    padding-bottom: 11em;
}

.bookWrapper:last-child {
    padding-bottom: 3.25em;
}

.book {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 12px;
    overflow: visible;
    transform-style: preserve-3d;
    cursor: default;
}

.book:first-child {
        margin-top: 155px;
}

@media (min-width: 750px) {
    .book:first-child {
        margin-top: 65px;
    }
}


.book[data-clickable='true'] {
    cursor: pointer;
}

.image {
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #222;
}

/* 🔑 FORCE GLARE ABOVE IMAGE */
.book :global(.js-tilt-glare) {
    z-index: 10;
}

.book :global(.js-tilt-glare-inner) {
    background: rgba(255, 255, 255, 0.65);
}