.bookTitle {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}