.title {
    font-weight: 300;
    line-height: 2;

}

.text {
    font-weight: 300;
    line-height: 2;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    white-space: pre-line;
}