.bookTitle {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-weight: 200;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    letter-spacing: 5px;
    margin-top: 155px;
}

.bookTitleSpan {
    font-weight: 700;
    letter-spacing: 2px;
}


@media (min-width: 750px) {
    .bookTitle {
        margin-top: 65px;
    }
}