.bookSubtitle {
    position: relative;
    z-index: 3;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 0.5px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}