.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
    background-color: #000;
}

.topMargin {
    margin-top: 155px;
}

@media (min-width: 750px) {
    .topMargin {
            margin-top: 65px;
    }
}

.footer {

}