.title {
    font-weight: 300;
    line-height: 2;

}

.subtitle {
    font-style: italic;
    margin-bottom: 2em;
    padding: 0 1em;
}

.text {
    font-weight: 100;
    line-height: 2;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    white-space: pre-line;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button {
    display: inline-block;
    margin-top: 111px;
    margin-bottom: 175px;
    padding: 12px 28px;
    font-size: 0.9rem;
    letter-spacing: 2px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    background: transparent;
    transition: all 0.25s ease;
}

.button:hover {
    background: rgba(255, 255, 255, .1);
}