.button {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 75px;
    padding: 12px 24px;
    padding-left: 26;
    font-size: 1rem;
    border: 1px solid #fff;
    color: black;
    text-decoration: none;
    background: whitesmoke;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 3px;
    border-radius: 3px;
    border-radius: 33px;
}

.button:hover {}