.button {
    display: inline-block;
    padding: 12px 24px;
    padding-left: 26;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    background: white;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 3px;
    border-radius: 3px;
    border-radius: 5px;
}

.button:hover {
    border-radius: 33px;
}