.container {
    background-color: rgba(50, 25, 0, .75);
    background-image: url('/workshop.png');
    background-blend-mode: overlay;
    background-position: 55% 99%;
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;

    padding-bottom: 9rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    display: none;
}