html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgb(11, 11, 13);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-optical-sizing: auto;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 55% 55%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    z-index: 0;
}

.main {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(11, 11, 13);}

.container {
    margin: 0 auto;
    width: 100%;
}

.containerFlexCentered {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbars for Firefox */
.container {
    scrollbar-width: none;
    /* Firefox */
}

.hrWide {
    border: 0;
    height: .1px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    min-width: 222px;
    max-width: 555px;
    opacity: .25;
}

.hrNarrow {
    border: 0;
    height: .1px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    min-width: 111px;
    max-width: 333px;
    opacity: .25;
}


a {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 1px #222;
}


:root {
    --heading-title-size: clamp(1.5rem, 2.4vw + 1.2vh, 2rem);
    --heading-subtitle-size: clamp(1.25rem, 1.3vw + 0.7vh, 1.75rem);

    --heading-title-letter-spacing: clamp(0.025em, 0.025vw + 0.05vh, 0.05em);
    --heading-subtitle-letter-spacing: clamp(0.01em, 0.1vw + 0.1vh, 0.1em);

    --heading-title-weight: 100;
    --heading-subtitle-weight: 200;
    --heading-emphasis-weight: 700;
}

.huge {
    font-size: clamp(6rem,
            calc(3vw + 3vh),
            6rem);
    text-shadow: 0 0 33px whitesmoke;
}

.mini {
    font-size: clamp(0.95rem, 0.9vw + 0.9vh, 1.05rem);
    line-height: 2.2;
    letter-spacing: 0.04em;
    opacity: 0.85;
}

.footer {
    padding: 4em 0;
    opacity: 1;
    font-weight: 200;

}