html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #000;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-optical-sizing: auto;
    color: white;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 55% 55%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    z-index: 0;
}

.main {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
}

.container {
    margin: 0 auto;
    width: 100vw;
}

.containerFlexCentered {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbars for Firefox */
.container {
    scrollbar-width: none;
    /* Firefox */
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    width: 50%;
    max-width: 222px;
}


a {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 1px #222;
}

/* --- Base Typography Reset --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    line-height: 2em;
    margin: 0 auto;
    padding: 0 22px;
    max-width: 888px;
    color: white;
}


/* --- Specific Base Styles --- */
h1 {
    line-height: 1.75em;
    font-size: clamp(2rem, 2vw + 1rem, 2.75rem);
}

h2 {
    font-size: clamp(1.75rem, 1.5vw + 1rem, 2.05rem);
}

h3 {
    font-size: clamp(1.5rem, 1.25vw + 1rem, 1.8rem);
}

h4 {
    font-size: clamp(1.25rem, 1vw + 1rem, 1.55rem);
}

h5 {
    font-size: clamp(1rem, 0.75vw + 1rem, 1.3rem);
}

h6 {
    font-size: clamp(0.75rem, 0.5vw + 0.75rem, 1.05rem);
}