html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #000;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: oldlace;
    text-align: center;
    font-optical-sizing: auto;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 55% 55%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    z-index: 0;
}

.main {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% 55%;
    background-blend-mode: overlay;
    overflow-y: auto;
    overflow-x: hidden;
}


.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1em;
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbars for Firefox */
.container {
    scrollbar-width: none;
    /* Firefox */
}


a {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 1px #222;
}

hr {
    border: none;
    height: 1px;
    background-color: tan;
    opacity: .5;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* --- Base Typography Reset --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 0 auto;
    color: rgba(253, 245, 230, .9);
    padding: 0 11px;
    max-width: 888px;
}


/* --- Specific Base Styles --- */
h1 {
    line-height: 1.75em;
    font-size: clamp(2rem, 2vw + 1rem, 2.75rem);
}

h2 {
    font-size: clamp(1.75rem, 1.5vw + 1rem, 2.05rem);
}

h3 {
    font-size: clamp(1.5rem, 1.25vw + 1rem, 1.8rem);
}

h4 {
    font-size: clamp(1.25rem, 1vw + 1rem, 1.55rem);
}

h5 {
    font-size: clamp(1rem, 0.75vw + 1rem, 1.3rem);
}

h6 {
    font-size: clamp(0.75rem, 0.5vw + 0.75rem, 1.05rem);
}