.base {
    color: #eaeaea;
    font-weight: 100;
    letter-spacing: 0.35em;
    margin: 65px auto;
    text-shadow: 0 0 11px #000;
}

.title {
    font-size: var(--heading-title-size);
}

.subtitle {
    font-size: var(--heading-subtitle-size);
    letter-spacing: 0.25em;
    font-weight: 200;
}

/* Font style control */
.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

/* Emphasis */
.base span {
    font-weight: 700;
    letter-spacing: 0.15em;
}