.base {
    color: white;
    font-weight: var(--heading-title-weight);
    letter-spacing: var(--heading-title-letter-spacing);
    margin: 65px auto;
}

.title {
    font-size: var(--heading-title-size);
    letter-spacing: var(--heading-title-letter-spacing);
    font-weight: var(--heading-emphasis-weight);
}

.subtitle {
    font-size: var(--heading-subtitle-size);
    letter-spacing: var(--heading-subtitle-letter-spacing);
    font-weight: var(--heading-subtitle-weight);
}

/* Font style control */
.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

/* Emphasis */
.base span {
    font-weight: var(--heading-emphasis-weight);
    letter-spacing: inherit;
}