.base {
    color: white;
    font-weight: var(--heading-title-weight);
    /* 100 */
    letter-spacing: var(--heading-title-letter-spacing);
    line-height: 2;
    margin: 0;
}

.huge {
    font-size: clamp(3rem,
            calc(5vw + 2vh),
            5rem);
    text-shadow: 0 0 33px whitesmoke;
}

/* TITLE = size only */
.title {
    font-size: var(--heading-title-size);
}

/* SUBTITLE = size + lighter weight */
.subtitle {
    font-size: var(--heading-subtitle-size);
    letter-spacing: var(--heading-subtitle-letter-spacing);
    font-weight: var(--heading-subtitle-weight);
}

/* Font style control */
.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}