/* ------------------------------------------------ */
/*      MOBILE: vertical referee stripes (4/1/2)     */
/* ------------------------------------------------ */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 22, 22, .5);

    /* Create striped look */
    gap: .5vh;
    /* gap *between* blocks only */
}

.stripe {
    width: 100%;
    flex: 1;
    /* equal-height vertical bands */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(3rem, 12vmin, 12rem);
    font-weight: 100;
    line-height: 1;
    color: #222;
}



/* ------------------------------------------------ */
/*   LANDSCAPE: horizontal referee stripes (412)    */
/* ------------------------------------------------ */

@media (min-width: 777px) {

    .container {
        flex-direction: row;
        gap: .5vw;
        /* keeps gaps BETWEEN stripes */
    }

    .stripe {
        height: 100%;
        flex: 1;
        /* equal-width horizontal bands */

        /* Make text scale better in wide screens */
        font-size: clamp(3rem, 15vmin, 20rem);
    }
}