
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-image: url('/form.png');
        background-color: rgba(1,1,1,.75);
        background-position: 55% 0%;
        background-blend-mode: overlay;
    }
