.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
}


.hammerAndForgeMobile {
    font-weight: 100;
    letter-spacing: 11px;
    font-size: clamp(1rem, 6vw, 2rem);
}

.booksMobile {
    font-weight: 800;
    letter-spacing: 11px;
}

.hammerAndForgeDesktop {
    letter-spacing: 11px;
    padding: 0 1em;
    font-weight: 100;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.booksDesktop {
    font-weight: 800;
    letter-spacing: 5px;
}

.desktop {
    display: none;
}


@media (min-width: 888px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        ;
    }
}