/* ------------------------------------------------ */
/*      MOBILE: vertical referee stripes (4/1/2)     */
/* ------------------------------------------------ */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    gap: 1vh;
    padding: 1vh 1vw;
}

.stripe {
    flex: 1;
    width: 100%;
    background-image: url('/soldier.jpg');
    background-repeat: no-repeat;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(3rem, 12vmin, 12rem);
    font-weight: 100;

    /* MOBILE → top/middle/bottom slicing */
    background-size: auto 300%;
}

/* TOP THIRD */
.stripe:nth-of-type(1) {
    background-position: 50% 0%;
}

/* MIDDLE THIRD */
.stripe:nth-of-type(2) {
    background-position: 50% 50%;
}

/* BOTTOM THIRD */
.stripe:nth-of-type(3) {
    background-position: 50% 100%;
}



/* ------------------------------------------------ */
/*   DESKTOP LAYOUT       */
/* ------------------------------------------------ */

@media (min-width: 777px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 1vw;
        padding: 1vh 1vw;

        width: 100vw;
        height: 100vh;
    }

    .stripe {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/');
        font-size: clamp(3rem, 15vmin, 20rem);

        /* DESKTOP → left/center/right slicing */
        background-size: 300% auto;
    }

    /* LEFT THIRD */
    .stripe:nth-of-type(1) {
        background-position: 0% 50%;
    }

    /* CENTER THIRD */
    .stripe:nth-of-type(2) {
        background-position: 50% 50%;
    }

    /* RIGHT THIRD */
    .stripe:nth-of-type(3) {
        background-position: 100% 50%;
    }
}