.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headingDiv {
    letter-spacing: 2px;
    width: 100vw;
    background: linear-gradient(to bottom, transparent, rgba(1, 1, 1, .25), transparent);
    text-shadow: 0 0 5px black;
}

.title {
    font-size: clamp(3rem, 2vw + 2vh, 4rem);
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2em;
    text-shadow: 0 0 11px #000;
    font-style: italic;
}