.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
}


.burningBushMobile {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: clamp(1rem, 6vw, 2rem);
    text-transform: uppercase;
}

.booksMobile {
    font-weight: 800;
    letter-spacing: 2px;
}

.burningBushDesktop {
    padding: 0 1em;
    font-weight: 100;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0 black;
    font-size: clamp(1.5rem, 5vw, 2rem);
    text-transform: uppercase;
}

.booksDesktop {
    font-weight: 800;
    letter-spacing: 2px;
}

.desktop {
    display: none;
}


@media (min-width: 888px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        ;
    }
}