.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
}


.title {
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

@media (min-width: 999px) {
    .container {
        flex-direction: row;

    }
}

