.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(11,11,15);
    background-position: 39% 70%;
    background-blend-mode: overlay;
}

.fourTwelve {
    font-size: clamp(11rem, calc(9vw + 9vh), 22rem);
    opacity: .25;
}