.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1, 1, 1, .35);
}


.title {
    text-shadow:
        1px 1px 0 #000,
        2px 2px 0 #222,
        3px 3px 2px rgba(0, 0, 0, 0.6);
    color: rgba(253, 245, 230, .9);
    letter-spacing: 11px;
}

.b {
    font-size: clamp(8rem, 6.6rem + 7vw, 15rem);
}

.moreInfo {
    margin-top: 250px;
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {}