.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image:
        linear-gradient(rgba(1, 1, 1, 1),
            rgba(1, 1, 1, .25)),
        url('/leon-final.png');
    background-position: 48% 0;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.headingDiv {
    letter-spacing: 2px;
    font-weight: 100;
    width: 100vw;
    background: linear-gradient(to bottom, transparent, rgba(1, 1, 1, .25), transparent);
    margin-top: 1em;
    text-shadow: 0 0 5px black;
}
