.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
    background-color: #000;
}

.container .mobile h2 {
    font-weight: 700;
    letter-spacing: 9px;
}

.container .desktop h1 {
    font-weight: 100;
    letter-spacing: 11px;
    font-size: clamp(1rem, 6vw, 2rem);
}


.missionDesktop {
    font-weight: 700;
}


.desktop {
    display: none;
}


@media (min-width: 444px) {
    .container .mobile h1 {
        letter-spacing: 14px;
    }
}

@media (min-width: 888px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        ;
    }
}