
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-image: url('/clay.png');
        background-position: 60% 55%;
        background-blend-mode: overlay;
        background-color: rgba(1,1,1,.25);
    }
