.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title {
    letter-spacing: 2px;
}



