.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image:
        /* SOLID OVERLAY (topmost) */
        linear-gradient(rgba(44,44,44,1),
            rgba(44,44,44,1)),

        /* YOUR EXISTING GRADIENT */
        linear-gradient(to bottom,
            transparent,
            transparent,
            transparent,
            rgba(100, 0, 0, 0.75),
            rgba(222, 22, 24, 0.75),
            rgba(1, 1, 1, .5),
            rgba(100, 0, 0, 0.75),
            rgba(222, 22, 24, 0.75),
            rgba(1, 1, 1, .5),
            transparent,
            transparent,
            transparent,
            rgba(1, 1, 1, 1)),

        /* IMAGE */
        url('/leon-final.png');
    background-position: 55% 22%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.headingDiv h1 {
    letter-spacing: 11px;
    font-weight: 700;
    width: 100vw;
    background: linear-gradient(to bottom, transparent, rgba(1, 1, 1, .25), transparent);
    margin-top: 1em;
    text-shadow: 0 0 5px black;
}