.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1, 1, 1, .35);
}


.title {
    text-shadow: 0 0 11px #000;
    color: rgba(253, 245, 230, .9);
}

.b {
font-size: clamp(8rem, 6.6rem + 7vw, 15rem);}

.moreInfo {
    margin-top: 250px;
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {}