.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
background-image:
        /* SOLID OVERLAY (topmost) */
        linear-gradient(rgba(44,44,44, 1),
            rgba(44,44,44, 1)),

        /* YOUR EXISTING GRADIENT */
        linear-gradient(to bottom,
            rgba(11, 11, 13, .1),
            rgba(100, 0, 0, 0.5),
            rgba(22, 22, 24, 0.5),
            rgba(22, 22, 24, 0.75)),

        /* IMAGE */
        url('/leon-final.png');
    background-position: 55% 22%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
