.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
}


.burningBush {
    padding: 0 1em;
    font-weight: 100;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0 black;
}

.books {
    font-weight: 600;
    letter-spacing: 2px; 
}

.desktop {
    display: none;
}


@media (min-width: 888px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;;
    }
}
