.logoContainer {
    position: fixed;
    top: 25px;
    left: 35px;
    z-index: 111;
}

.logo {
    font-weight: 100;
    letter-spacing: 11px;
}

/* @media (min-width: 555px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 888px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 1444px) {
    .logoContainer {
        top: 20px;
    }
} */