.logoContainer {
    position: fixed;
    top: 53px;
    left: 35px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(1rem, 4vw, 4rem);
    font-weight: 100;
    letter-spacing: 7px;
}

@media (min-width: 555px) {
    .logoContainer {
        top: 45px;
    }
}

@media (min-width: 888px) {
    .logoContainer {
        top: 40px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 25px;
    }
}

@media (min-width: 1444px) {
    .logoContainer {
        top: 25px;
    }
}