.logoContainer {
    position: fixed;
    top: 1px;
    left: 35px;
    z-index: 111111;
    transform: rotate(45deg);
}

@media (min-width: 555px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 888px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 1444px) {
    .logoContainer {
        top: 20px;
    }
}