.logoContainer {
    position: fixed;
    top: 53px;
    left: 35px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(1rem, 5vw, 6rem);
    font-weight: 100;
    letter-spacing: 7px;
}

@media (min-width: 555px) {
    .logoContainer {
        top: 35px;
    }
}
@media (min-width: 888px) {
    .logoContainer {
        top: 25px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 10px;
    }
}