.logoContainer {
    position: fixed;
    top: 52px;
    left: 35px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 100;
    letter-spacing: 7px;
}

@media (min-width: 555px) {
    .logoContainer {
        top: 50px;
    }
}

@media (min-width: 888px) {
    .logoContainer {
        top: 50px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 50px;
    }
}

@media (min-width: 1444px) {
    .logoContainer {
        top: 40px;
    }
}