.logoContainer {
    position: fixed;
    top: 22px;
    left: 35px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(2rem, 1.5vw, 3rem);
    font-weight: 200;
    letter-spacing: 7px;
}

@media (min-width: 555px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 888px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 20px;
    }
}

@media (min-width: 1444px) {
    .logoContainer {
        top: 20px;
    }
}