.logoContainer {
    position: fixed;
    top: 5px;
    left: 15px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(5rem, 5vw, 9rem);
    font-weight: 100;
}

.logo {
    letter-spacing: 3px;
}
