.logoContainer {
    position: fixed;
    top: 0;
    left: 25px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(5.25rem, 5vw, 9rem);
    font-weight: 100;
    letter-spacing: 11px;
}