.logoContainer {
    position: fixed;
    top: 57px;
    left: 35px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: 100;
    letter-spacing: 7px;
}

@media (min-width: 555px) {
    .logoContainer {
        top: 56px;
    }
}

@media (min-width: 888px) {
    .logoContainer {
        top: 50px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 45px;
    }
}

@media (min-width: 1444px) {
    .logoContainer {
        top: 25px;
    }
}