.logoContainer {
    position: fixed;
    top: 15px;
    left: 35px;
    z-index: 111111;
}

.logoContainer h1 {
    font-size: clamp(4rem, 5vw, 6rem);
    font-weight: 100;
    letter-spacing: 11px;
}

@media (min-width: 888px) {
    .logoContainer {
        top: 18px;
    }
}

@media (min-width: 1111px) {
    .logoContainer {
        top: 15;
    }
}