.verticalNav {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 111;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);
    transform: translateX(0);
    background-color: #000;
}

.topMobileBanner {
    position: fixed;
    top: 0;
    z-index: 1111;
    width: 100%;
    height: 155px;
    background: linear-gradient(to bottom, #000, #000, #000, transparent);
}

.verticalNav a {
    text-decoration: none;
    z-index: 2;
    color: oldlace;
}


.verticalNav.isClosed {
    transform: translateX(100vw);
}

.verticalNav::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}


.hamburger {
    position: fixed;
    z-index: 111111;
    top: 28px;
    right: 28px;
    border-radius: 11px;
}

.hamburger::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


.ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.li {
    font-size: 1.6rem;
    cursor: pointer;
    letter-spacing: 2px;
}

.mobileNavLink {
    /* define transition on the base state */
    text-shadow: none;
    padding-bottom: 15px;
    border-bottom: transparent;
}

.mobileNavLink:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.mobileNavLink.active {
    color: rgba(255, 111, 0, 1);
    border-bottom: transparent;
}


/* New desktop nav container */
.desktopNav {
    display: none;
}

@media screen and (min-width: 888px) {

    .topMobileBanner,
    .hamburger,
    .verticalNav {
        display: none !important;
    }

    .desktopNav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 1111;
        width: 100%;
        height: 101px;
        background: linear-gradient(to bottom, #000, #000, #000, #000, transparent);
    }

    .desktopNavLink {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(1rem, 0.6vw + 0.5rem, 1.25rem);
        font-weight: 100;
        text-decoration: none;
        letter-spacing: 3px;
        padding: 11px 18px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .desktopNavLink:hover {
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        border-top: 1px solid rgba(255, 255, 255, .25);
    }

    .desktopNavLink.active {
        border-top: 1px solid white;
        border-bottom: 1px solid white;

    }
}