.verticalNav {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 111;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);
    transform: translateX(0);
    background-color: #111;
}

.verticalNav a {
    text-decoration: none;
    z-index: 2;
    color: oldlace;
}


.verticalNav.isClosed {
    transform: translateX(100vw);
}

.verticalNav::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}


.hamburger {
    position: fixed;
    z-index: 111111;
    top: 37px;
    right: 30.5px;
    border-radius: 11px;
    backdrop-filter: blur(11px);
}

.hamburger::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


.ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.li {
    font-size: 1.6rem;
    cursor: pointer;
    letter-spacing: 2px;
}


@media (min-width: 768px) {
    .li {}
}


/* New desktop nav container */
.desktopNav {
    display: none;
}

@media screen and (min-width: 888px) {

    .hamburger,
    .verticalNav {
        display: none !important;
    }

    .desktopNav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 22px;
        height: 75px;
        width: 100%;
        z-index: 1111;
        background-color: #000;
        backdrop-filter: blur(33px);
    }

    .desktopNavLink {
        backdrop-filter: blur(33px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 100;
        text-decoration: none;
        letter-spacing: 3px;
        padding: 0 5px;
        padding-bottom: 15px;
        font-weight: bold;
        text-shadow: 0 0 5px #000;
        border-bottom: 1px solid transparent;
    }

    .desktopNavLink:hover {
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .desktopNavLink.active {
        border-bottom: 1px solid oldlace;

    }
}

/* Match your existing breakpoints */
@media (min-width: 1444px) {
    .desktopNavLink {
        font-size: 1.3rem;
    }
}

@media (min-width: 1640px) {
    .desktopNavLink {
        font-size: 1.35rem;
    }

    .desktopNav {
        padding-left: 8em;
        padding-right: 6em;
    }
}