/* HAMBURGER BUTTON */
.hamburger {
    position: fixed;
    z-index: 111111111;
    top: 1.5em;
    right: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: white;

    backdrop-filter: blur(33px);
    border-radius: 6px;
    transform: rotate(-90deg);
}

.hamburger svg {
    transition: transform 0.25s ease, opacity 0.2s ease;
}


.nav {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 1.25s cubic-bezier(0.85, 0, 0.15, 1);
    background-position: 55% 0%;
    background-color: rgb(11, 11, 15);
}

.nav.open {
    transform: translateX(0);
}

.ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.li {
    margin: 4vh 0;
}