.topNavBanner {
    position: fixed;
    width: 100vw;
    height: 155px;
    background-color: #000;
    z-index: 111;
    pointer-events: none;
    /* ← THIS IS THE FIX */
}


/* HAMBURGER BUTTON */
.hamburger {
    position: fixed;
    z-index: 111111111;
    top: 45px;
    right: 25px;
    cursor: pointer;
}


/* MOBILE NAV — USED AT ALL SIZES */
.nav {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 1s cubic-bezier(0.85, 0, 0.15, 1);
}

/* When open */
.nav.open {
    right: 0;
}

.ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 11vh;
    align-items: center;
}

.li {
    font-size: clamp(1rem, 0.8vw + 0.5rem, 1.25rem);
    letter-spacing: 2px;
    font-weight: 300;
    color: white;
}

.li:hover {}

.navLink {
    text-decoration: none;
    border-bottom: transparent;
    border-top: .25px solid transparent;
    border-bottom: .25px solid transparent;
    padding: 11px;
}

.navLink:hover {
    border-bottom: .25px solid rgba(255, 255, 255, .25);
}

.forged {
    letter-spacing: 11px;
    padding-left: 10px;
}

.inTheFire {
    letter-spacing: 4px;
    padding-left: 10px;
}