.paragraphCentered {
    font-weight: 200;
    line-height: 2;
    margin: 1.75em auto;
    max-width: 675px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: pre-line;
    padding-left: 2em;
    padding-right: 2em;
}

.paragraphCentered:last-child {
    padding-bottom: 5em;
    /* or whatever spacing you want */
}