.paragraph {
    line-height: 1.8;
    margin: 1.75em auto;
    max-width: 777px;
    text-align: center;
    letter-spacing: 1px;
    white-space: normal;
    padding-left: 2em;
    padding-right: 2em;
    font-style: italic;
    text-transform: uppercase;
}
