.paragraph {
    font-weight: 200;
    line-height: 2;
    margin: 1.75em auto;
    max-width: 475px;
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: pre-line;
    padding-left: 2em;
    padding-right: 2em;
}