.base {
    font-size: clamp(1rem, 0.9vw + 0.6vh, 1.25rem);
    line-height: 3;
    letter-spacing: 0.13em;
    margin-bottom: 2em;
    color: white;
    text-transform: uppercase;
    padding: 0 2em;
    max-width: 777px;
    margin-left: auto;
    margin-right: auto;
}

/* Alignment */
.left {
    text-align: left;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

/* Font style control */
.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}