.base {
    font-size: clamp(1rem, 0.9vw + 0.6vh, 1.25rem);
    line-height: 1.7;
    letter-spacing: 0.04em;
    margin-bottom: 1.25em;
    color: #eaeaea;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}