.siteTitle {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: clamp(3rem, 4vw, 6rem);
}

.span {
    padding-left: 12px;
    letter-spacing: 11px;
    font-weight: 100;
    font-size: clamp(6rem, 5vw, 11rem);
}