.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* .desktopContainer {
    display: none;
    letter-spacing: 5px;
} */

.operation {
    font-weight: 100;
    letter-spacing: 3px;
    font-size: clamp(2rem, 4vw, 4rem);
}

.fourTwelve {
    letter-spacing: 31px;
    padding-left: 52px;
    background-color: rgba(22, 22, 22, .75);
    font-weight: 500;
    font-size: clamp(11rem, 5vw, 5rem);
    width: 100vw;
    margin-top: .55em;
}

/* .operationDesktop {
    font-weight: 100;
    font-size: clamp(2rem, 4.75vw, 5rem);
} */
