.siteTitle {
    font-weight: 100;
    letter-spacing: 9px;
    font-size: clamp(3rem, 4vw, 6rem);
}

.span {
    letter-spacing: 3px;
    font-weight: 100;
    font-size: clamp(8.25rem, 4vw, 8rem);
}