.wordPair {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.25em;
    text-align: center;
}

.wordPairTitle {
    font-weight: 700;
    font-style: italic;
    font-size: 1.25rem;
}

.wordPairSubtitle {
    font-weight: 100;
    font-size: 1rem;
    margin-top: 0.25em;
}